<div class="box mt-5">
    <div class="my-2 w-25">
        <label for="" class="my-1">categories :</label>
        <select class="form-control">
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="3">option 3</option>
            <option value="4">option 4</option>
        </select>
    </div>
    <div class="row">
        
        <div class="col-md-3 -sm -12" *ngFor="let item of products">
      
            <div class="item">
              <img src="{{item.image}}" alt="">
              <div class="body">
                <h4>{{item.title}}</h4>
                <p>{{item.description}}</p>
                      </div>
        <!-- <div class="col-md-3 -sm -12" >

            <div class="item">
                <img src="" alt="">
                <div class="body">
                    <h4>title</h4>
                    <p>test add description</p>
                </div> -->
                <div class="px-3 mb-2 d-flex justify-content-between align-item-center">
                    <label for="">price</label>
                    <!-- <button class="btn btn-success">price</button> -->
                    <span>50 L.E</span>
                </div>

            </div>
        </div>

</div>




