<div class="box mt-5">
  <div class="my-2 w-25">
    <label for="" class="my-1">Categories</label>
    <select class="form-control" (change)="filterCategory($event)">
      <option value="all" selected>All</option>
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>
  </div>
</div>

<div class="container">
  <div class="boox" *ngFor="let product of products">
    <a [routerLink]="['/details', product.id]">
      <div class="item" style="width: 200px; height: 400">
        <img style="width: 200px; height: 200px" src="{{ product.image }}" alt="" />
        <div class="body">
          <h4>{{ product.title }}</h4>
          <p>{{ product.description }}</p>
        </div>
        <div style="display: flex">
          <div class="px-3 mb-2 d-flex justify-content-between align-item-center">
            <span>{{ product.price }} L.E</span>
            <br />
            <button class="btn btn-success">Add To Cart</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
