nav{
    background: linear-gradient(to right ,  #051e1f , #bcdae5) ;
    color : #fff;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        .logo {
           margin-left: 35px;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 20%;
            margin: 0;
            li {
                cursor: pointer;
                font-size: 22px;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}